.strip-container {
  /* scale system */
  --final-scale: calc(var(--scale-factor) * 0.7);
  --base-unit: calc(var(--img-width) * var(--final-scale));

  /* typography */
  --font-size-main: calc(var(--base-unit) * 0.08);
  --font-size-sub: calc(var(--font-size-main) * 0.5);
  --font-size-icon: calc(var(--font-size-main) * 1.2);

  --strip-border-radius: calc(var(--base-unit) * 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: calc(var(--base-unit) * 0.08);
  gap: calc(var(--base-unit) * 0.05);
  user-select: none;
}

@media (width >= 40rem) {
  .strip-container {
    --final-scale: calc(var(--scale-factor) * 0.8);
  }
}

@media (width >= 64rem) {
  .strip-container {
    --final-scale: var(--scale-factor);
  }
}

.strip-header,
.strip-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--base-unit);
  text-align: center;
}

.strip-header .brand,
.strip-footer .strip-title {
  width: 100%;
  max-width: 100%;
  line-height: 1.1;
  text-wrap: balance;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-height: 1;
  letter-spacing: 1;
}

.photo-wrapper {
  aspect-ratio: 4 / 3;
  width: var(--base-unit);
  background: black;
  overflow: hidden;
}

.photo-wrapper.is-rounded {
  border-radius: var(--strip-border-radius);
}

.photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.strip-header {
  gap: calc(var(--base-unit) * 0.02);
}

.strip-header svg {
  width: var(--font-size-icon);
  height: var(--font-size-icon);
}

.strip-header .brand {
  font-size: var(--font-size-sub);
}

.strip-footer {
  gap: calc(var(--base-unit) * 0.05);
  margin-top: calc(var(--base-unit) * 0.05);
}

.strip-footer .strip-title {
  font-size: var(--font-size-main);
}

.strip-footer .strip-timestamp {
  width: 100%;
  font-size: var(--font-size-sub);
  opacity: 0.7;
  line-height: 1;
  letter-spacing: 1;
}
